<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List of Identrequests</h3>
    </div>
    <div class="panel-body">



        <table class="table table-condensed table-hover">

            <thead>
            <tr>
                <th>ID</th>
                <th>Created</th>
                <th>Status</th>
                <th>Persons</th>
            </tr>
            </thead>

            <tbody>

            {% for item in list %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.status }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.person | length }}</td>
            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>
</div>
