{% extends "app.twig" %}

{% block title %}Request - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Create Identrequest</h1>

    <div class="row">

        <div class="col-md-12">
            {% include 'create_request_form.twig' %}
        </div>

    </div>

    {% if new %}
        {% include 'create_request_result.twig' %}
    {% endif %}

    <div class="row">

        <div class="col-md-12">
            {% include 'request_list.twig' %}
        </div>

    </div>

{% endblock %}