<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Create Object result</h3>
    </div>

    <div class="panel-body">
        {{ dump(new.getUpdateAttributes()) }}
    </div>

</div>
