{% extends "app.twig" %}

{% block title %}Secupaydebit detail - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Secupaydebit detail</h1>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Secupaydebit detail</h3>
                </div>

                <div class="panel-body">
                    {{ dump(data.getUpdateAttributes()) }}
                </div>

            </div>

        </div>

    </div>

{% endblock %}