{% extends "app.twig" %}

{% block title %}Secupayprepay detail - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Secupayprepay detail</h1>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Secupayprepay detail</h3>
                </div>

                <div class="panel-body">
                    {{ dump(data.getUpdateAttributes()) }}
                </div>

            </div>

        </div>

    </div>

{% endblock %}